aioresponses==0.7.3
black==22.10.0
coveralls==3.3.1
flake8==5.0.4
flake8-docstrings==1.6.0
flake8-noqa==1.2.9
isort==5.10.1
mypy==0.991
orjson==3.8.1
pydocstyle==6.1.1
pylint==2.15.6
pytest==7.2.0
pytest-aiohttp==1.0.4
pytest-asyncio==0.20.2
pytest-cov==4.0.0
tox==3.27.1
types-orjson==3.6.2
